.slider-container{
   z-index: 3;
   background-image: url("../Assets/Images/Background.jpg");
   background-size: cover; 
   background-position: center; 
   
}


.slider-wrapper{
    position: relative;
    margin: 0;
    height: 70%;
    display: flex;
    justify-content: center;
    
}

.slider{
    display: flex;
    aspect-ratio: 16/9;
    height: 100%;
    overflow-x:auto;
    scroll-snap-type: x mandatory;

    
}

.slides{
    flex: 1 0 100%;
    justify-content: center; 
    flex-direction: column;
    display: flex; 
    scroll-snap-align: start;
    color:rgb(255, 255, 255)
} 

.profile-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40%; 
}

.profile {
    border-radius: 50%; 
    width:200px;
    height:200px
}

.review-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px; 
    padding: 10px;
}

.review {
    width: 70%;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 30px; 
    margin-top: 5px;
}

.name {
    color: rgb(255, 255, 255);
    font-size: 25px; 
    font-weight: bold;
    margin-top: 5rem;
}
