.slider-container{
   z-index: 3;
   background-image: url("https://cdn.pixabay.com/photo/2016/11/29/04/17/bonfire-1867275_640.jpg");
   background-size: cover; /* Ensures the image covers the entire container */
   background-position: center; /* Centers the image within the container */
   height: 100vh;
}


.slider-wrapper{
    position: relative;
    margin: 0;
    height: 70%;
    
}

.slider{
    display: flex;
    aspect-ratio: 16/9;
    height: 100%;
    overflow-x:auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    border-radius: 0.5rem;
}

.slides{
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
    background-color: rgba(10, 72, 51, 0);
    opacity:1;
    color:rgb(255, 255, 255)
} 

h1{
    height: 100%;
    flex: 1 0 100%;
    object-fit: cover;
    display: flex; /* Add display: flex to center the content vertically and horizontally */
    align-items: center;
    padding-top: 20%;
    justify-content: center; /* Center the content horizontally */
    opacity: 1; /* Adjust the opacity as desired */
    color: rgb(255, 255, 255); /* Change the text color to white or your preferred color */
    text-align: center; /* Center the text horizontally within the slide */
}