*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
.pic-container {
    width: 100%;
    height: 200vh;
    background-color: rgb(184, 183, 183);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-attachment: fixed;
    background-size: cover;
    z-index: 2;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 10px;
    animation: parallax 10s infinite alternate; 
}

@keyframes parallax {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translatey(10px); 
    }
}

.camping-images{
    width: 280px;
    height: 250px;
    margin-top: 25px;
    margin-left: 14px;
    border-radius: 10px;
    transform: translateY(10%);
}
.caption-style{
    width: 280px; 
    height: 200px; 
    margin-top: 25px;
    margin-left: 17px;
    margin-right: 20px;
    border-radius: 10px;
    padding: 10px;
    background-color: rgb(240, 239, 239);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: center;

}
.caption-style h3{
  text-align: center;
  align-self: center;
 
}

.paragraph-sizing{
    padding: 18px;
}